use Mix.Config

config :dirk, Dirk.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "reborn-test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
